.container {
	width: 800px;
	/*height:900px;*/
	/*background-image: url("../images/sumobg.jpg");*/
}

.panel {
	background-size: auto, cover;
	background: url("../images/sumobg.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	
}

.word{
    letter-spacing: 10px;
    text-align: center;
}

.jumbotron {
	width: 307px;
	padding-right: 45px;
	padding-left: 45px;
	color: black;
}

.win {
	position: relative;
	left: 82px;
}

.guesses {
/*	font-family: 'Cinzel', serif;*/
	position: relative;
	left: 41px;
}

.wrongs {
/*    font-family: 'Walter Turncoat', cursive;*/
    position: relative;
    top: 32px;
    left: 18px;
}

.newword{
    position: relative;
    top: 172px;
    left: 13px;
}

.title{
	font-family: 'Bungee Shade', cursive;
	position: relative;
    left: 43px;
    text-align: center;
    color: black;
}

.container2{

}

.man {
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 600px;
	border-radius: 25px;
    padding-left: 12px;
    background: white;
}

body {
	color: red;

/*	background-size: auto, cover;
	background: url("../images/sumobg.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat*/

}



/*.deathPanel {
	background-color: #494949;
}*/