.container {
	width: 800px;
	/*height:900px;*/
	/*background-image: url("../images/sumobg.jpg");*/
}

.panel {
	background-size: auto, cover;
	background: url("../images/sumobg.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	
}

.word{
    letter-spacing: 10px;
    text-align: center;
}

.jumboClass {
	width: 307px;
	padding-right: 45px;
	padding-left: 45px;
	color: black;
	position: relative;
	top: 10px;
	font-family: 'Arial', sans-serif;
	
}

.win {
	width: 200px;
	text-align: center;
	position: relative;
	left: 43px;
}

.guesses {
/*	font-family: 'Cinzel', serif;*/
	font-family: 'Hirosht', sans-serif;
	position: relative;
	left: 43px;
	width: 200px;
    text-align: center;
}

.wrongs {
	letter-spacing: 4px;
	font-family: 'Takeout', sans-serif;
    position: relative;
    top: 32px;
    left: 43px;
    width: 200px;
    text-align: center;
}

.newword{
    position: relative;
    top: 126px;
    left: 43px;
    width: 200px;
    text-align: center;
}

.title{
/*	font-family: 'Bungee Shade', cursive;*/
	font-family: 'Hirosht', sans-serif;
	position: relative;
    left: 442px;
    text-align: center;
    color: white;
    background: crimson;
    border-radius: 25px;
    width: 31%;
    padding: 5px;
    padding-top: 9px;
}

.container2{

}

.man {
	position: absolute;
	top: 103px;
	bottom: 0;
	left: 600px;
	border-radius: 25px;
    padding-left: 12px;
    background: white;
}

.winnerStory{
	color: red;
    position: absolute;
    top: 201px;
    left: 734px;
    width: 200px;
    font-size: 22px;
    text-align: center;
    font-family: 'Takeout', sans-serif;
}

body {
	color: #ffff00;
	background-image: url("../images/sumopattern.jpg");
	font-family: 'Hirosht', sans-serif;
	

/*	background-size: auto, cover;
	background: url("../images/sumobg.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat*/
}


@font-face {
  font-family: "Hirosht";
  src: url("../css/HIROSHT.TTF") format("truetype");
}

@font-face {
  font-family: "Takeout";
  src: url("../css/CHINESETAKEAWAY.ttf") format("truetype");
}








/*.deathPanel {
	background-color: #494949;
}*/